@use "../../variables" as *;

.navbar {
  background-color: $black;
  padding: 19.72px 16px;
  @media screen and(min-width: $breakpoint-xl) {
    background-color: $black_50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px, 30px;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 0;
    @media screen and(min-width: $breakpoint-xl) {
      padding: 0;
    }
  }

  .header-img {
    width: 120px;
    @media screen and(min-width: $breakpoint-xl) {
      width: 140px;
    }
  }
  .navbar-toggler {
    padding: 0;
    outline: 0px;
  }

  #navbarSupportedContent {
    @media screen and(min-width: $breakpoint-xl) {
      position: static;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
    }
    .nav-item {
      position: relative;
      top: 19.72px;
      &.dropdown:hover > .dropdown-menu {
        @media screen and(min-width: $breakpoint-xl) {
          display: block;
        }
      }
      .plus-img {
        position: absolute;
        top: 12px;
        right: 16px;
        @media screen and(min-width: $breakpoint-xl) {
          visibility: hidden;
        }
      }
      .nav-link {
        color: $white;
        font-size: $fontsize-s;
        line-height: 20px;
        padding: 0px 20px;
        margin-bottom: 35px;
        transition: all 0.2s ease;
        &:hover {
          @media screen and(min-width: $breakpoint-xl) {
            color: $gray_nobel;
          }
        }
        @media screen and(min-width: $breakpoint-xl) {
        }
      }
      .dropdown-menu {
        background-color: $black;
        margin-top: 0px;
        padding-top: 0px;
        border: none;
        border-radius: 0;
        .dropdown-item {
          padding: 15px 28px;
          color: $white;
          font-size: $fontsize-s;
          line-height: 20px;
          transition: all 0.2s ease;
          @media screen and(min-width: $breakpoint-xl) {
            width: 220px;
            padding: 18px;
          }

          &:hover {
            background-color: transparent;
            @media screen and(min-width: $breakpoint-xl) {
              background-color: $orange_bistre;
            }
          }
        }
      }
    }
  }
}
