@use "../../variables" as *;

.navbar {
  padding: 0;
  background-color: $black;
  @media screen and(min-width: $breakpoint-xl) {
    background-color: $black_50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
  }
  .navbar-brand {
    padding: 19.72px 16px;
    margin-right: 0;
    @media screen and(min-width: $breakpoint-xl) {
      padding: 0;
      margin-top: 0;
    }
  }

  .header-img {
    width: 120px;
    @media screen and(min-width: $breakpoint-xl) {
      width: 140px;
    }
  }
  .navbar-toggler {
    outline: 0px;
    padding-right: 16px;
  }

  #navbarSupportedContent {
    @media screen and(min-width: $breakpoint-xl) {
      position: static;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
    }
    .nav-item {
      &.dropdown:hover > .dropdown-menu {
        @media screen and(min-width: $breakpoint-xl) {
          display: block;
        }
      }

      .plus-img {
        display: flex;
        position: absolute;
        top: -8px;
        right: 16px;
        @media screen and(min-width: $breakpoint-xl) {
          visibility: hidden;
        }
      }
      .nav-link {
        bottom: 20px;
        color: $white;
        font-size: $fontsize-s;
        line-height: 20px;
        padding: 15px 16px;
        transition: all 0.2s ease;

        &:hover {
          @media screen and(min-width: $breakpoint-xl) {
            color: $gray_nobel;
          }
        }
      }
      .dropdown-menu {
        background-color: $black;
        margin-top: 0px;
        padding: 0px;
        border: none;
        border-radius: 0;

        @media screen and(min-width: $breakpoint-xl) {
          position: absolute;
          top: 70px;
        }
        .dropdown-item {
          position: relative;
          bottom: 20px;
          padding: 15px 28px;
          color: $white;
          font-size: $fontsize-s;
          line-height: 20px;
          transition: all 0.2s ease;

          @media screen and(min-width: $breakpoint-xl) {
            width: 220px;
            padding: 18px;
            position: static;
          }

          &:hover {
            background-color: transparent;
            @media screen and(min-width: $breakpoint-xl) {
              background-color: $orange_bistre;
            }
          }
        }
      }
    }
  }
}
