@use "../../variables" as *;

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;

  @media (min-width: $breakpoint-lg) {
    padding: 52px 20px;
  }
}

.message-title {
  font-family: $fontfamily-mincho;
  font-size: $fontsize-l;
  margin-bottom: 6px;

  @media (min-width: $breakpoint-lg) {
    font-size: $fontsize-xl;
    margin-bottom: 10px;
  }
}

.message-detail {
  font-family: $fontfamily-gothic;
  font-size: $fontsize-s;
  line-height: 28px;

  @media (min-width: $breakpoint-lg) {
    line-height: 36px;
  }
}
